<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeira Página HTML</title>
</head>
<body>
    <p th:text="${msgController}"></p>
    <form method="post" th:action="@{/create}">
        <div style="align-items: flex-start">
            Nome do candidato: <input type="text" name="nome_do_candidato">
        <button>Cadastrar Candidato</button>
        </div>
    </form>
</body>
</html>